<p-table [value]="products" 
    [tableStyle]="{ 'min-width': '50rem'}" [filters]="defaultFilter">
    <!-- [filters]="defaultCategoryFilter"> -->

    <ng-template pTemplate="header">
        <tr>
            <th>Code
                <p-columnFilter type="text" field="code" display="code"></p-columnFilter>
            </th>

            <th>Name
                <p-columnFilter type="text" field="name" display="name"></p-columnFilter>
            </th>
            <th>Category
                <p-columnFilter field="category" matchMode="in" display="menu" [showMatchModes]="false"
                [showOperator]="false" [showApplyButton]="true" [showAddButton]="false" display="category">

                <!-- <ng-template pTemplate="header">
                    <div>
                        <span>Branch</span>
                    </div>
                </ng-template> -->

                <ng-template pTemplate="filter">
                    <form [formGroup]="filterForm">
                        <p-multiSelect [options]="selectedCategory" 
                            formControlName="selectedCities" 
                            [filter]="false"
                            placeholder="Select Categories">
                        </p-multiSelect>
                    </form>
                </ng-template>

            </p-columnFilter>
            </th>
            <th>Quantity
                <p-columnFilter type="text" field="quantity" display="quantity"></p-columnFilter>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.code }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.quantity }}</td>
        </tr>
    </ng-template>

</p-table>